#List of patterns to ignore.
**/*0.f*
**/*.IC
**/*.baseflow
**/xyz*.fld*
**/logfile
**/log.*
**/*.sch
**/*.sch1
**/*.log*
**/*fort.*
**/nek5000
**/SESSION.NAME
**/*.nek5000
**/*.restart
**/*.eps
**/*.png
**/*.mp4
**/*.xml
**/obj/
**/makefile
**/*.bin
**/*.out
**/*.dat
**/*.a
**/*.o
**/.*.swp
**/compiler*
**/out.*
**/.state
